.MyFooter{
  margin-top: 10%;
  text-align: center;
}

.MySignUpForm{
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 5%;
}
.MyLayout{
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
}